/* CSS for navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #ffcc00;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-content {
	flex: 1;
	display: flex;
	align-items: center;
}

.title-content .brand h3 {
	margin: 0;
	font-size: 1.5rem;
}

.title-content .brand a {
	text-decoration: none;
	color: #343a40;
}

.title-content .brand a:hover {
	color: white;
}

.nav-content {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}

.nav-content ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-content ul li {
	margin: 0 10px;
}

.nav-content ul li a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	transition: color 0.3s ease;
}

.nav-content ul li a:hover {
	color: white;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1001;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: gray;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	max-width: 500px;
	text-align: center;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 1.5rem;
	color: #333333;
	cursor: pointer;
}

.close-button:hover {
	color: #ff0000;
}