<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Profile</title>
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="stylesheet" href="/css/profile.css" />
	</head>
	<body>
		<!-- Include Navbar -->
		<th:block th:include="fragments/navbar :: *"></th:block>

		<main>
			<h1>Your Profile</h1>
			<p>Manage your account settings and preferences here.</p>
			<p>Name: <span th:text="${user.name}"></span></p>
			<p>Email: <span th:text="${user.email}"></span></p>
			<form action="/user/profile" method="post">
				<button type="submit" formaction="/user/logout">Logout</button>
				<button type="submit" formaction="/user/profile" formmethod="delete">
					Delete Account
				</button>
			</form>
		</main>

		<!-- Script untuk interaksi -->
		<script src="/js/navbar.js"></script>
		<script src="/js/profile.js"></script>
	</body>
</html>
